DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=bestsimilar
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433

REDIS_URL=redis://localhost:6379/0

TMDB_API_KEY=e0874976b3db48e39f793e20904b248e
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMDg3NDk3NmIzZGI0OGUzOWY3OTNlMjA5MDRiMjQ4ZSIsIm5iZiI6MTc3NjgzMzEzMC43MTEsInN1YiI6IjY5ZTg1MjZhNzdhNjViOWZlODA5N2IzMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Mr8Wp-5bEjJTlH5c-l0Fa7f0XhEc6hA5pEz1XGhDwKo

GEMINI_API_KEY="AIzaSyCEryuxhldAY9qRxzsI6X8kCUARHuAJ9Xg"