# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/

# Misc
.venv
.DS_Store
*.pem
.env
.env.local
.env.*.local
.next/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
